VITE_SUPABASE_URL=https://ivbwicpkcilkdvicbhdj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2YndpY3BrY2lsa2R2aWNiaGRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA1NTQyMTYsImV4cCI6MjA4NjEzMDIxNn0.ifhJNDdr1kp3Iv_ruBFvanDY6ldB2k2dJDjs921SEZs